:root {
  --ApplicationThemeColour: #546c7f;
  --ApplicationThemeColourHover: #00aa79;
  --MenuButtonTextColour: #ffffff;
  --MenuButtonTextColourHover: #d2d2d2;
  --TooltipBGColor: #cae0f1;
  --ApplicationThemeColourBorder: #2b3a46;
  --RegularTextColour: #000000;
}

html,
body {
  height: 90%;
  width: 90%;
  position: relative;
}

div.box {
  height: 100px;
  width: 100px;
  padding: 10px;
  border: 10px solid red;
  margin: 30px;
  background-color: #00aa79;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.fixedPosition {
  position: fixed;
  background-color: #00aa79;
}

div.textBox {
  background-color: #546c7f;
  height: 100px;
  width: 100px;
  margin: 100px;
  position: relative;
}
