/* CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  /* line-height: 1;*/
  height: 90%;
  width: 90%;
  position: relative;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* COLOURS */
/* #579794 light turquoise */
/* #22565E dark turquoise */
/* #8FD047 light green */
/* #66AF39 dark green */
/* #DE8A47 light orange */
/* #E6E7E8 light grey */

:root {
  --light_turquoise: #579794;
  --dark_turquoise: #22565e;
  --light_green: #8fd047;
  --dark_green: #66af39;
  --light_orange: #de8a47;
  --light_grey: #e6e7e8;
}

/* CANDIDATE CSS STARTS HERE */

.best-available {
  height: 525px;
  width: 500px;
  padding: 0px;
  border: 2px solid #22565e;
  border-radius: 10px;
  margin: 0px;
  background-color: transparent;
  opacity: 1;
  position: fixed;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: repeat(9, [row] 50px) 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Row 1*/
#title_ticketType {
  grid-row: 1;
  grid-column: 1/3;
}

#title_deliveryMethod {
  grid-row: 6;
  grid-column: 1/3;
}

#Label_EntryTime {
  grid-row: 2;
  grid-column: 1;
  font-size: 1em;
  font-weight: bold;
  color: var(--light_turquoise);
  justify-self: left;
  margin: 15px;
}

#Label_eTicket {
  grid-row: 7;
  grid-column: 1;
  font-size: 1em;
  font-weight: bold;
  color: var(--light_turquoise);
  justify-self: left;
  margin: 15px;
}

#Label_holdAtTicketDesk {
  grid-row: 8;
  grid-column: 1;
  font-size: 1em;
  font-weight: bold;
  color: var(--light_turquoise);
  justify-self: left;
  margin: 15px;
}

#TicketPrice {
  grid-row: 2;
  grid-column: 2;
  font-size: 1em;
  font-weight: bold;
  color: var(--light_orange);
  justify-self: right;
  margin: 15px;
}

#eTicketPrice {
  grid-row: 7;
  grid-column: 2;
  font-size: 1em;
  font-weight: bold;
  color: var(--light_orange);
  justify-self: right;
  margin: 15px;
}

#holdAtTicketDeskPrice {
  grid-row: 8;
  grid-column: 2;
  font-size: 1em;
  font-weight: bold;
  color: var(--light_orange);
  justify-self: right;
  margin: 15px;
}

#Ticket1 {
  grid-row: 3;
  grid-column: 1/3;
  justify-self: center;
}

#Ticket2 {
  grid-row: 4;
  grid-column: 1/3;
  justify-self: center;
}

#Ticket3 {
  grid-row: 5;
  grid-column: 1/3;
  justify-self: center;
}

.Label_total-price {
  grid-row: 9;
  grid-column: 1;
  font-size: 1em;
  font-weight: bold;
  color: var(--light_turquoise);
  justify-self: left;
  margin: 15px;
}
.total-price {
  grid-row: 9;
  grid-column: 2;
  font-size: 1em;
  font-weight: bold;
  color: var(--light_orange);
  justify-self: right;
  margin: 15px;
}

select.concessions {
  border: 0px;
  outline: 0px;
  background-color: white;
  font-size: 1em;
  color: grey;
  justify-self: right;
  width: 350px;
}

.ticket {
  border: 5px solid var(--light_turquoise);
  border-radius: 5px;
  height: 25px;
  color: grey;
  margin: 15px;
  font-size: 1em;
  width: 350x;
}

.sectionHeading {
  font-size: 2em;
  color: var(--light_turquoise);
  border-bottom: 2px solid var(--light_grey);
  padding: 1px;
  margin-left: 15px;
}

.button-checkout {
  width: 250px;
  height: 50px;
  background-color: var(--dark_green);
  border-radius: 5px;
  grid-row: 10;
  grid-column: 1/3;
  font-size: 2em;
  font-weight: bold;
  justify-self: center;
  text-align: center;
  margin: 5px;
}
